<div class="container container__bg">
  <div class="container__centered">
    <h3 class="!text-black !font-bold" >Find dein perfektes SmartPhone!</h3>
    <span class="text-black font-bold">
      die besten Smartphones fur jedes Budget !
    </span>
    <div class="w-100">
     <div class="container__shop w-50">
       Zum Shop

     </div>
    </div>
  </div>
  <!-- <div class="row d-flex flex-row justify-content-center container__p-row">
    <div class="col-2 p-0 " >
      <img src="../../../../assets/images/main-teaser-left-side.png"
      class="img-responsive m-0 p-0 makeup-left !h-96" alt="Responsive image">
  </div>
  <div class="col-2 p-0" >
    <img src="../../../../assets/images/main-teaser-center.png"
    class="img-responsive m-0 p-0 makeup-left !h-96" alt="Responsive image">
  </div>
  <div class="col-2 p-0">
    <img  src="../../../../assets/images/main-teaser-side.png"
    class="img-responsive m-0 p-0 makeup-left !h-96" alt="Responsive image">
  </div>
  </div> -->

</div>
<!-- logos -->
<div class="container my-3">
  <div class="row d-flex flex-row justify-content-start " >
<ng-container *ngFor="let img of brandsList">
  <img class="container__brands" [src]="'../../../../assets/images/brands/'+img+'.png'" alt="">
</ng-container>
  </div>

